# Редирект с HTTP на HTTPS
server {
    listen 80;
    server_name _;

    return 301 https://$host$request_uri;
}

# HTTPS сервер
server {
    listen 443 ssl;
    server_name _;

    # SSL сертификаты (пути внутри контейнера nginx)
    ssl_certificate /etc/nginx/certs/lab2.crt;
    ssl_certificate_key /etc/nginx/certs/lab2.key;

    # Рекомендуемые SSL настройки
    ssl_protocols TLSv1.2 TLSv1.3;
    ssl_ciphers HIGH:!aNULL:!MD5;

    include /etc/nginx/mime.types;
    sendfile on;
    charset utf8;
    autoindex off;

    location = /favicon.ico {
        access_log off;
        log_not_found off;
    }

    # Прокси для API запросов
    location ~ ^/(admin|api)/?(.*)$ {
        proxy_pass http://backend:8000;
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;

        # Дополнительные заголовки для WebSocket (если нужно)
        proxy_http_version 1.1;
        proxy_set_header Upgrade $http_upgrade;
        proxy_set_header Connection "upgrade";
    }

    # Статические файлы
    location /static {
        alias /static;
    }

    # Все остальное на бекенд
    location / {
        proxy_pass http://backend:8000;
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;
    }
}